<div class="container-fluid">
  <div class="main-container">
    <div class="players-container">
      <ng-container *ngFor="let player of game.players">
        <div class="player-row" *ngIf="player.isNPC == true" [ngClass]="{ active: game.getCurrentPlayer() == player }">
          <div class="player-name">
            {{ player.name }}
            <div class="cards-remaining">{{ player.playerCards.hand.length }} cards remaining</div>
          </div>
          <div class="upcards">
            <div class="card-container" *ngFor="let card of player.playerCards.up">
              <svg-card [carddata]="card"></svg-card>
            </div>
          </div>
          <div class="downcards">
            <div class="card-container" *ngFor="let card of player.playerCards.down">
              <svg-card [carddata]="card" [hidevalue]="true"></svg-card>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="game-container">
      <div class="stack-container">
        <div class="cards-remaining">{{ game.deck.cards.length }} cards remain</div>
        <div class="deck-container">
          <div class="card-container" *ngFor="let card of game.deck.cards">
            <svg-card [carddata]="card" [hidevalue]="true"></svg-card>
          </div>
        </div>
        <div class="deck-container play-cards">
          <div class="card-container" *ngFor="let card of game.playCards">
            <svg-card [carddata]="card"></svg-card>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="self-container">
    <div class="self-player" [ngClass]="{ active: game.getCurrentPlayer() == game.players[0] }">
      <div class="player-name">{{ game.players[0].name }}</div>
      <div class="self-cards hand">
        <div class="card-container" *ngFor="let card of game.players[0].playerCards.hand">
          <svg-card [carddata]="card"></svg-card>
        </div>
      </div>
      <br />
      <div class="self-cards">
        <div class="upcards">
          <div class="card-container" *ngFor="let card of game.players[0].playerCards.up">
            <svg-card [carddata]="card"></svg-card>
          </div>
        </div>
        <div class="downcards">
          <div class="card-container" *ngFor="let card of game.players[0].playerCards.down">
            <svg-card [carddata]="card" [hidevalue]="true"></svg-card>
          </div>
        </div>
      </div>
    </div>
    <div class="end-turn-btn" [ngClass]="{ disabled: game.getCurrentPlayer() !== game.players[0] }">End Turn</div>
  </div>
</div>
